@mixin hover-effect {
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0) 0%,
    rgba(66, 66, 66, 0.5) 86.98%
  );

  .name {
    z-index: 1;
  }

  button {
    display: block;
  }
}

.container {
  position: relative;
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  overflow: hidden;

  @media (hover) {
    &:hover {
      @include hover-effect;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.name {
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
  font-family: var(--font-Montserrat);
  font-weight: 700;
  font-size: 12px;
}

.container.infoCard {
  @include hover-effect;
  flex: 100;
  aspect-ratio: 600 / 500;

  .name {
    display: none;
  }

  background: #00000066;

  button {
    top: 20px;
    right: 20px;
  }
}

@media (hover: none) {
  .container {
    @include hover-effect;
  }
}

@media (max-width: 768px) {
  .container.infoCard {
    flex-basis: calc(100vh - 170px);
    max-height: 650px;
  }
}
